.wrapper {
    position: relative;
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    padding: 0px 8px;
    margin-bottom: 8px;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 8px;
        right: 8px;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
    }
}

.more-btn {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(254, 44, 85);
    padding: 0 8px;
    margin-top: 8px;
    cursor: pointer;
}

.no-follow {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
    padding: 0px 8px;
    color: rgba(22, 24, 35, 0.5);;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname-name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 21px;
    color: rgb(22, 24, 35);
}

.check {
    font-size: 1.4rem;
    margin-left: 4px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 15px;
    color: rgba(22, 24, 35, 0.75);;
}

